.filter-container{
  display: flex;
  justify-content: center;
  background-color: #85F8C1;
  margin: 0;
  padding: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid black;
}
md-select{
  margin: 10px;
}
