/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  /* margin: 0; */
  display: flex;
  justify-content: center;
  background-image: url("./assets/we2.jpg");
}

